[submodule ".registry"]
	path = .registry
	url = https://github.com/erwinlares/erwinlares.r-universe.dev
	branch = HEAD
[submodule "containr"]
	path = containr
	url = https://github.com/erwinlares/containr
[submodule "toolero"]
	path = toolero
	url = https://github.com/erwinlares/toolero
